#map {
    position:absolute;
    top:0;
    bottom:0;
    width:90%;
    margin:20px;
}

#controls {
    float: right;
    opacity: 0.7;
    background: grey;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
#controls > div {
    margin: 3px;
}
#controls .inputs {
    width: 7em;
    }

.symbol {
    height: 1.3em;
    width: 1.3em;
}

.legend .symbol {
    margin-left: 10px;
}

.cluster {
    border: 2px solid;
    border-radius: 100px;
    text-align: center;
    font-size: 18;
    padding: 3px;
}

.vokues {
    background-color: rgba(23,165,165,0.6); 
}

.stressfaktoren {
    background-color: rgba(100,18,07,0.6);
}

.events {
    background-color: rgba(165,23,165,0.6);
}

.legend.active {
    border: 1px red solid;
    border-radius: 5px;
}
.marker-description {
    max-height: 300px;
    overflow-y: scroll;
}